<!-- Footer -->
<div class="footer">
    <p><a href="https://www.facebook.com/lamborghni.aventador/">Facebook</a> </p>
    <p><a href="https://www.instagram.com/raj_akash.141/">Instagram</a> </p>
    <p> <a href="https://github.com/asrivastav722">GitHub</a> </p>
    <p><a href="https://www.linkedin.com/in/akash-raj722/">Linkedin</a> </p>
    <p><a href="https://x.com/asrivastav722">Twitter</a> </p>
    <p class="copy"> ©copyright <%= year %>
    </p>
</div>