<!-- Header -->
<div class="header">
    <div>
        <h1 class="heading"  > Blogspot </h1>
    </div>
    
        <form class="formbtntog" action="/togdark" method="post">
            <input type="submit" class="circle" name="darkbtn" value="<%=value%>">
            
        </form>
        
    
    
        <form action="/createNew" method="POST">
            <input class="createbtn" type="submit" value="+" name="cdscsd">
        </form>
    
</div>