<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create your post here</h1>
    <form action="/postbutton" method="post">
        <label for="Title">Your Title:</label>
        <input type="text" name="newtitle" placeholder="Your title Here">
        <label for="content">Your Content:</label>
        <input type="text" name="newcontent" placeholder="Your Content Here">
        <input type="submit" value="POST">
    </form>
    
</body>
</html>